<?xml version="1.0"?>
<config>
    <modules>
        <Ved_AdminApi>
            <version>2.2.1</version>
        </Ved_AdminApi>
    </modules>
    <global>
        <blocks>
            <ved_adminapi>
                <class>Ved_AdminApi_Block</class>
            </ved_adminapi>
        </blocks>
        <models>
            <ved_adminapi>
                <class>Ved_AdminApi_Model</class>
                <resourceModel>ved_adminapi_resource</resourceModel>
            </ved_adminapi>
            <ved_adminapi_resource>
                <class>Ved_AdminApi_Model_Resource</class>
                <entities>
                    <log>
                        <table>log_api</table>
                    </log>
                    <transaction>
                        <table>teko_api_transaction_order</table>
                    </transaction>
                    <inactive>
                        <table>teko_api_order_inactive</table>
                    </inactive>
                </entities>
            </ved_adminapi_resource>

        </models>
        <resources>
            <ved_adminapi_setup>
                <setup>
                    <module>Ved_AdminApi</module>
                </setup>
            </ved_adminapi_setup>
        </resources>
        <helpers>
            <adminapi>
                <class>Ved_AdminApi_Helper</class>
            </adminapi>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <ved_adminapi>
                    <use>admin</use>
                    <args>
                        <module>Ved_AdminApi</module>
                        <frontName>ved_adminapi</frontName>
                    </args>
                </ved_adminapi>
                <args>
                    <modules>
                        <Ved_AdminApi before="Mage_Adminhtml">Ved_AdminApi_Adminhtml</Ved_AdminApi>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>

                    </children>
                </admin>
            </resources>
        </acl>

        <translate>
            <modules>
                <Ved_AdminApi>
                    <files>
                        <default>Ved_AdminApi.csv</default>
                    </files>
                </Ved_AdminApi>
            </modules>
        </translate>
        <events>
            <teko_amp_city_load_after>
                <observers>
                    <addRelationshipData>
                        <class>Ved_AdminApi_Model_Observer</class>
                        <method>addRelationshipData</method>
                    </addRelationshipData>
                </observers>
            </teko_amp_city_load_after>
        </events>
    </adminhtml>
    <default>
        <adminapi>
            <general>
                <call_api_key>api43k923m0ga7dfj8nvb</call_api_key>
                <constant_default>GCAFEMaGenTo</constant_default>
                <call_api_update_price_key>api43k923m0ga7dfj8nvb2bag21f</call_api_update_price_key>
            </general>
        </adminapi>
    </default>
</config> 