<?xml version="1.0"?>
 
<config>
    <modules>
        <Ved_Porders>
            <version>0.0.0.1</version>
        </Ved_Porders>
    </modules>
 
    <global>
        <models>
            <Ved_Porders>
                <class>Ved_Porders_Model</class>
                <resourceModel>ved_porders_resource</resourceModel>
            </Ved_Porders>
        </models>
 
        <resources>
            <ved_porders_setup>
                <setup>
                    <module>Ved_Porders</module>
                </setup>
            </ved_porders_setup>
        </resources>
 
        <blocks>
            <ved_porders>
                <class>Ved_Porders_Block</class>
            </ved_porders>
        </blocks>
 
        <helpers>
            <ved_porders>
                <class>Ved_Porders_Helper</class>
            </ved_porders>
        </helpers>
    </global>
 
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ved_porders before="Mage_Adminhtml">Ved_Porders_Adminhtml</ved_porders>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>