<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Checkout>
            <version>1.1.0.0</version>
        </Ved_Checkout>
    </modules>
    <global>

        <blocks>
            <checkout>
                <rewrite>
                    <cart>Ved_Checkout_Block_Cart</cart>
                    <ved_link>Ved_Checkout_Block_Link</ved_link>
                </rewrite>
            </checkout>
            <ved_checkout_shipping>
                <class>Ved_Checkout_Block_Shipping</class>
            </ved_checkout_shipping>
            <ved_checkout_cart>
                <class>Ved_Checkout_Block_Cart</class>
            </ved_checkout_cart>
            <ved_checkout>
                <class>Ved_Checkout_Block</class>
            </ved_checkout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <cart>Ved_Checkout_Helper_Cart</cart>
                </rewrite>
            </checkout>
        </helpers>
        <resources>
            <ved_checkout_setup>
                <setup>
                    <module>Ved_Checkout</module>
                </setup>
            </ved_checkout_setup>
        </resources>
        <models>
            <ved_checkout>
                <class>Ved_Checkout_Model</class>
                <resourceModel>ved_checkout_resource</resourceModel>
            </ved_checkout>
            <ved_checkout_resource>
                <class>Ved_Checkout_Model_Resource</class>
                <entities>
                    <quote>
                        <table>sales_flat_quote</table>
                    </quote>
                </entities>
            </ved_checkout_resource>
        </models>
    </global>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Ved_Checkout before="Mage_Checkout">Ved_Checkout</Ved_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <checkout>
                    <file>ved_checkout.xml</file>
                </checkout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Ved_Checkout>
                    <files>
                        <default>Ved_Checkout.csv</default>
                    </files>
                </Ved_Checkout>
            </modules>
        </translate>
    </frontend>
</config>
