<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Customerotp>
            <version>0.1.0</version>
        </Ved_Customerotp>
    </modules>
    <global>
        <resources>
            <Ved_Customerotp_setup>
                <setup>
                    <module>Ved_Customerotp</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ved_Customerotp_setup>
            <Ved_Customerotp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Ved_Customerotp_write>
            <Ved_Customerotp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Ved_Customerotp_read>
        </resources>
    </global>
</config>