<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ved_Coupon>
            <version>0.0.2</version>
        </Ved_Coupon>
    </modules>
    <global>
        <blocks>
            <ved_coupon>
                <class>Ved_Coupon_Block</class>
            </ved_coupon>
        </blocks>
        <helpers>
            <ved_coupon>
                <class>Ved_Coupon_Helper</class>
            </ved_coupon>
        </helpers>
        <models>
            <ved_coupon>
                <class>Ved_Coupon_Model</class>
                <resourceModel>ved_coupon_resource</resourceModel>
            </ved_coupon>
            <ved_coupon_resource>
                <class>Ved_Coupon_Model_Resource</class>
                <entities>
                    <coupon_request>
                        <table>coupon_request</table>
                    </coupon_request>
                </entities>
            </ved_coupon_resource>
        </models>
        <resources>
            <ved_coupon_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ved_coupon_write>
            <ved_coupon_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ved_coupon_read>
            <ved_coupon_setup>
                <setup>
                    <module>Ved_Coupon</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ved_coupon_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ved_Coupon before="Mage_Adminhtml">Ved_Coupon_Adminhtml</Ved_Coupon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ved_coupon>
                    <file>ved_coupon.xml</file>
                </ved_coupon>
            </updates>
        </layout>
    </adminhtml>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ved_coupon>
                                            <title>Ved Coupon</title>
                                        </ved_coupon>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
