<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Teko_Amp>
            <version>3.0.0</version>
        </Teko_Amp>
    </modules>

    <global>
        <models>
            <teko_amp>
                <class>Teko_Amp_Model</class>
                <resourceModel>teko_amp_resource</resourceModel>
            </teko_amp>
            <teko_amp_resource>
                <class>Teko_Amp_Model_Resource</class>
                <entities>
                    <queue>
                        <table>teko_amp_message_queue</table>
                    </queue>
                    <product>
                        <table>catalog_product_entity</table>
                    </product>
                    <varchar>
                        <table>catalog_product_entity_varchar</table>
                    </varchar>
                    <decimal>
                        <table>catalog_product_entity_decimal</table>
                    </decimal>
                    <int>
                        <table>catalog_product_entity_int</table>
                    </int>
                    <attribute>
                        <table>eav_attribute</table>
                    </attribute>
                    <city>
                        <table>directory_city</table>
                    </city>
                    <region>
                        <table>directory_country_region</table>
                    </region>
                    <message>
                        <table>teko_amp_message_id</table>
                    </message>
                    <log>
                        <table>log_message_queue</table>
                    </log>
                    <queue_property>
                        <table>teko_amp_message_queue_properties</table>
                    </queue_property>
                    <config>
                        <table>teko_amp_message_queue_config</table>
                    </config>
                </entities>
            </teko_amp_resource>
        </models>

        <resources>
            <teko_amp_setup>
                <setup>
                    <module>Teko_Amp</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </teko_amp_setup>
            <teko_amp_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </teko_amp_write>
            <teko_amp_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </teko_amp_read>
        </resources>
        <events>
            <order_telephone_confirm_before>
                <observers>
                    <teko_amp_source>
                        <class>teko_amp/observer</class>
                        <method>orderTelephoneConfirmBefore</method>
                    </teko_amp_source>
                </observers>
            </order_telephone_confirm_before>
        </events>
        <helpers>
            <teko_amp>
                <class>Teko_Amp_Helper</class>
            </teko_amp>
        </helpers>
        <blocks>
            <teko_amp>
                <class>Teko_Amp_Block</class>
            </teko_amp>
        </blocks>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <teko_amp before="Mage_Adminhtml">Teko_Amp_Adminhtml</teko_amp>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <teko_amp>
                    <file>teko_amp.xml</file>
                </teko_amp>
            </updates>
        </layout>
        <menu>
            <system>
                <children>
                    <teko_amp module="teko_amp">
                        <title>Manage Message Queue</title>
                        <sort_order>10</sort_order>
                        <action>adminhtml/amp_config</action>
                    </teko_amp>
                </children>
            </system>
        </menu>
    </adminhtml>
</config>
