<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Buildpc>
            <version>1.0.0</version>
        </Ved_Buildpc>
    </modules>
    <frontend>
        <routers>
            <buildpc>
                <use>standard</use>
                <args>
                    <module>Ved_Buildpc</module>
                    <frontName>buildpc</frontName>
                </args>
            </buildpc>
        </routers>
        <layout>
            <updates>
                <buildpc>
                    <file>ved_buildpc.xml</file>
                </buildpc>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <buildpc>
                <class>Ved_Buildpc_Block</class>
            </buildpc>
        </blocks>
        <models>
            <Ved_Buildpc>
                <class>Ved_Buildpc_Model</class>
                <resourceModel>Ved_Buildpc_resource</resourceModel>
            </Ved_Buildpc>
            <Ved_Buildpc_resource>
                <class>Ved_Buildpc_Model_Resource</class>
                <entities>
                    <buildpc>
                        <table>buildpc_bundle</table>
                    </buildpc>
                    <detail>
                        <table>buildpc_bundle_detail</table>
                    </detail>
                </entities>
            </Ved_Buildpc_resource>
        </models>
        <helpers>
            <buildpc>
                <class>Ved_Buildpc_Helper</class>
            </buildpc>
        </helpers>
        <resources>
            <Ved_Buildpc_setup>
                <setup>
                    <module>Ved_Buildpc</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ved_Buildpc_setup>
            <Ved_Buildpc_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Ved_Buildpc_write>
            <Ved_Buildpc_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Ved_Buildpc_read>
        </resources>
    </global>
</config>