<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Isagent>
            <version>0.1.0</version>
        </Ved_Isagent>
    </modules>
    <global>
        <resources>
            <Ved_Isagent_setup>
                <setup>
                    <module>Ved_Isagent</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ved_Isagent_setup>
            <Ved_Isagent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Ved_Isagent_write>
            <Ved_Isagent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Ved_Isagent_read>
        </resources>
    </global>

</config>
