<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Facebookid>
            <version>0.1.0</version>
        </Ved_Facebookid>
    </modules>
    <global>
        <resources>
            <Ved_Facebookid_setup>
                <setup>
                    <module>Ved_Facebookid</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ved_Facebookid_setup>
            <Ved_Facebookid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Ved_Facebookid_write>
            <Ved_Facebookid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Ved_Facebookid_read>
        </resources>
    </global>
</config>