<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Agent>
            <version>0.1.1</version>
        </Ved_Agent>
    </modules>
    <frontend>
        <routers>
            <agent>
                <use>standard</use>
                <args>
                    <module>Ved_Agent</module>
                    <frontName>agent</frontName>
                </args>
            </agent>
        </routers>
        <layout>
            <updates>
                <agent>
                    <file>ved_agent.xml</file>
                </agent>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <Ved_Agent>
                <class>Ved_Agent_Model</class>
                <resourceModel>Ved_Agent_resource</resourceModel>
            </Ved_Agent>

            <Ved_Agent_resource>
                <class>Ved_Agent_Model_Resource</class>
                <entities>
                    <agent_channel>
                        <table>agent_channel</table>
                    </agent_channel>
                    <agent_account>
                        <table>agent_account</table>
                    </agent_account>
                    <agent_account_history>
                        <table>agent_account_history</table>
                    </agent_account_history>
                    <agent_achievement>
                        <table>agent_achievement</table>
                    </agent_achievement>
                    <agent_achievement_type>
                        <table>agent_achievement_type</table>
                    </agent_achievement_type>
                    <agent_achievement_history>
                        <table>agent_achievement_history</table>
                    </agent_achievement_history>
                    <agent_redemption>
                        <table>agent_redemption</table>
                    </agent_redemption>
                    <agent_redemption_gift>
                        <table>agent_redemption_gift</table>
                    </agent_redemption_gift>
                    <agent_point_history>
                        <table>agent_point_history</table>
                    </agent_point_history>
                </entities>
            </Ved_Agent_resource>
        </models>

        <blocks>
            <agent>
                <class>Ved_Agent_Block</class>
            </agent>
        </blocks>

        <helpers>
            <agent>
                <class>Ved_Agent_Helper</class>
            </agent>
        </helpers>

        <resources>
            <Ved_Agent_setup>
                <setup>
                    <module>Ved_Agent</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </Ved_Agent_setup>
            <Ved_Agent_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </Ved_Agent_write>
            <Ved_Agent_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </Ved_Agent_read>
        </resources>

    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <agent before="Mage_Adminhtml">Ved_Agent_Adminhtml</agent>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <agent>
                    <files>
                        <default>Ved_Agent.csv</default>
                    </files>
                </agent>
            </modules>
        </translate>
        <layout>
            <updates>
                <ved_agents>
                    <file>ved_agents.xml</file>
                </ved_agents>
            </updates>
        </layout>
    </adminhtml>
</config>
