<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Instalment>
            <version>2.2.0</version>
        </Ved_Instalment>
    </modules>
    <frontend>
        <routers>
            <instalment>
                <use>standard</use>
                <args>
                    <module>Ved_Instalment</module>
                    <frontName>instalment</frontName>
                </args>
            </instalment>
        </routers>
    </frontend>

    <global>
        <helpers>
            <ved_instalment>
                <class>Ved_Instalment_Helper</class>
            </ved_instalment>
        </helpers>
        <blocks>
            <ved_instalment>
                <class>Ved_Instalment_Block</class>
            </ved_instalment>
        </blocks>
        <models>
            <ved_instalment>
                <class>Ved_Instalment_Model</class>
                <resourceModel>ved_instalment_resource</resourceModel>
            </ved_instalment>
            <ved_instalment_resource>
                <class>Ved_Instalment_Model_Resource</class>
                <entities>
                    <instalment>
                        <table>instalments</table>
                    </instalment>
                    <order_instalment>
                        <table>order_instalment</table>
                    </order_instalment>
                    <alepay_logs>
                        <table>alepay_logs</table>
                    </alepay_logs>
                </entities>
            </ved_instalment_resource>
        </models>
        <resources>
            <ved_instalment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ved_instalment_write>
            <ved_instalment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ved_instalment_read>
            <ved_instalment_setup>
                <setup>
                    <module>Ved_Instalment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ved_instalment_setup>
        </resources>
        <payment>
            <groups>
                <instalmentorders>Instalmentorders</instalmentorders>
            </groups>
        </payment>
        <events>
            <order_telephone_confirm_before>
                <observers>
                    <ved_instalmentsource>
                        <class>ved_instalment/observer</class>
                        <method>orderTelephoneConfirmBefore</method>
                    </ved_instalmentsource>
                </observers>
            </order_telephone_confirm_before>
            <sale_order_send_queue_before>
                <observers>
                    <ved_instalmentsource>
                        <class>ved_instalment/observer</class>
                        <method>saleOrderSendQueueBefore</method>
                    </ved_instalmentsource>
                </observers>
            </sale_order_send_queue_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ved_Instalment before="Mage_Adminhtml">Ved_Instalment_Adminhtml</Ved_Instalment>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <ved_instalment>
                    <files>
                        <default>Ved_Instalment.csv</default>
                    </files>
                </ved_instalment>
            </modules>
        </translate>
        <layout>
            <updates>
                <ved_instalment>
                    <file>ved_instalment.xml</file>
                </ved_instalment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <instalmentorder>
                <group>instalmentorders</group>
                <active>0</active>
                <model>ved_instalment/method_instalmentorder</model>
                <title>Trả góp</title>
                <allowspecific>0</allowspecific>
            </instalmentorder>
        </payment>
    </default>
</config>
