<?xml version="1.0"?>
<config>
    <modules>
        <Ved_SupplierNew>
            <version>0.1.0</version>

        </Ved_SupplierNew>
    </modules>
    <global>
        <helpers>
            <suppliernew>
                <class>Ved_SupplierNew_Helper</class>
            </suppliernew>
        </helpers>
        <blocks>
            <suppliernew>
                <class>Ved_SupplierNew_Block</class>
            </suppliernew>
        </blocks>
        <models>
            <suppliernew>
                <class>Ved_SupplierNew_Model</class>
                <resourceModel>supplier_mysql4</resourceModel>
            </suppliernew>
            <supplier_mysql4>
                <class>Ved_SupplierNew_Model_Mysql4</class>
                <entities>
                    <supplier>
                        <table>supplier</table>
                    </supplier>
                    <pricechange>
                        <table>supplier_price_log</table>
                    </pricechange>
                </entities>
            </supplier_mysql4>
        </models>
        <resources>
            <supplier_setup>
                <setup>
                    <module>Ved_SupplierNew</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </supplier_setup>
            <supplier_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </supplier_write>
            <supplier_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </supplier_read>
            <catalog_product1430972691_setup>
                <setup>
                    <module>Ved_SupplierNew</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </catalog_product1430972691_setup>
            <catalog_product1430972691_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </catalog_product1430972691_write>
            <catalog_product1430972691_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </catalog_product1430972691_read>
        </resources>
        <events>
            <catalog_product_save_before>
                <observers>
                    <Ved_SupplierNew>
                        <type>singleton</type>
                        <class>Ved_SupplierNew_Model_Observer</class>
                        <method>detectProductChanges</method>
                    </Ved_SupplierNew>
                </observers>
            </catalog_product_save_before>
            <catalog_product_attribute_update_before>
                <observers>
                    <Ved_SupplierNew>
                        <type>singleton</type>
                        <class>Ved_SupplierNew_Model_Observer</class>
                        <method>detectProductAttributeChanges</method>
                    </Ved_SupplierNew>
                </observers>
            </catalog_product_attribute_update_before>
        </events>
    </global>
    <admin>
        <routers>
            <!--<suppliernew>-->
            <!--<use>admin</use>-->
            <!--<args>-->
            <!--<module>Ved_SupplierNew</module>-->
            <!--<frontName>suppliernew</frontName>-->
            <!--</args>-->
            <!--</suppliernew>-->
            <adminhtml>
                <args>
                    <modules>
                        <Ved_SupplierNew before="Mage_Adminhtml">Ved_SupplierNew_Adminhtml</Ved_SupplierNew>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>

        <translate>
            <modules>
                <Ved_Supplier>
                    <files>
                        <default>Ved_SupplierNew.csv</default>
                    </files>
                </Ved_Supplier>
            </modules>
        </translate>
        <layout>
            <updates>
                <suppliernew>
                    <file>suppliernew.xml</file>
                </suppliernew>
            </updates>
        </layout>
    </adminhtml>
</config>