<?xml version="1.0"?>

<config>
    <modules>
        <Ved_CatalogCollapse>
            <version>1.0.0</version>
        </Ved_CatalogCollapse>
    </modules>
    <global>
        <resources>
            <ved_catalogcollapse_setup>
                <setup>
                    <module>Ved_CatalogCollapse</module>
                </setup>
            </ved_catalogcollapse_setup>
        </resources>
    </global>
</config>
