<?xml version="1.0"?>
<config>
  <modules>
    <Ved_Supplier>
      <version>0.1.0</version>
    </Ved_Supplier>
  </modules>
  <global>
    <helpers>
      <supplier>
        <class>Ved_Supplier_Helper</class>
      </supplier>
    </helpers>
    <blocks>
      <supplier>
        <class>Ved_Supplier_Block</class>
      </supplier>
    </blocks>
    <models>
      <supplier>
        <class>Ved_Supplier_Model</class>
        <resourceModel>supplier_mysql4</resourceModel>
      </supplier>
      <supplier_mysql4>
        <class>Ved_Supplier_Model_Mysql4</class>
        <entities>
          <supplier>
            <table>supplier</table>
          </supplier>
        </entities>
      </supplier_mysql4>
    </models>
    <resources>
      <supplier_setup>
        <setup>
          <module>Ved_Supplier</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </supplier_setup>
      <supplier_write>
        <connection>
          <use>core_write</use>
        </connection>
      </supplier_write>
      <supplier_read>
        <connection>
          <use>core_read</use>
        </connection>
      </supplier_read>
      <catalog_product1430972691_setup>
        <setup>
          <module>Ved_Supplier</module>
          <class>Mage_Eav_Model_Entity_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </catalog_product1430972691_setup>
      <catalog_product1430972691_write>
        <connection>
          <use>core_write</use>
        </connection>
      </catalog_product1430972691_write>
      <catalog_product1430972691_read>
        <connection>
          <use>core_read</use>
        </connection>
      </catalog_product1430972691_read>
    </resources>
  </global>
  <admin>
    <routers>
      <supplier>
        <use>admin</use>
      <args>
        <module>Ved_Supplier</module>
        <frontName>admin_supplier</frontName>
      </args>
      </supplier>
    </routers>
  </admin>
  <adminhtml>
    <translate>
      <modules>
        <supplier module="supplier">
          <files>
            <default>Ved_Supplier.csv</default>
          </files>
        </supplier>
      </modules>
    </translate>
    <menu>
      <supplier module="supplier">
        <title>Supplier</title>
        <sort_order>40</sort_order>
        <action>admin_supplier/adminhtml_supplier</action>
        <!--<children>-->
          <!--<supplier module="supplier">-->
            <!--<title>Manage Supplier</title>-->
          <!--<sort_order>0</sort_order>-->
          <!--<action>admin_supplier/adminhtml_supplier</action>-->
          <!--</supplier>-->
        <!--</children>-->
      </supplier>
    </menu>
    <acl>
      <resources>
      <all>
        <title>Allow Everything</title>
      </all>
      <admin>
        <children>
          <supplier translate="title" module="supplier">
            <title>Supplier</title>
            <sort_order>40</sort_order>
            <!--<children>-->
              <!--<supplier translate="title">-->
              <!--<title>Manage Supplier</title>-->
              <!--<sort_order>0</sort_order>-->
              <!--</supplier>-->
            <!--</children>-->
          </supplier>
        </children>
      </admin>
      </resources>
    </acl>
    <layout>
      <updates>
        <supplier>
          <file>supplier.xml</file>
        </supplier>
      </updates>
    </layout>
  </adminhtml>
</config>