<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Citydropdown>
            <version>1.0.0</version>
        </Ved_Citydropdown>
    </modules>
    <global>
        <blocks>
            <ved_citydropdown>
                <class>Ved_Citydropdown_Block</class>
            </ved_citydropdown>
            <ved_citydropdown_adminhtml>
                <class>Ved_Citydropdown_Block_Adminhtml</class>
            </ved_citydropdown_adminhtml>
        </blocks>
        <models>
            <ved_citydropdown>
                <class>Ved_Citydropdown_Model</class>
            </ved_citydropdown>
        </models>
        <helpers>
            <ved_citydropdown>
                <class>Ved_Citydropdown_Helper</class>
            </ved_citydropdown>
        </helpers>
        <!--
        <resources>
            <ved_citydropdown_setup>
                <setup>
                    <module>VED_Citydropdown</module>
                </setup>
            </ved_citydropdown_setup>
        </resources>
        -->
        <!--
        <events>
            <catalog_product_load_after>
                <observers>
                    <ved_citydropdown>
                        <class>ved_citydropdown/observer</class>
                        <method>catalogProductLoadAfter</method>
                    </ved_citydropdown>
                </observers>
            </catalog_product_load_after>
        </events>
        -->
    </global>
    <frontend>
        
        <routers>
           <ved_citydropdown>
               <use>standard</use>
               <args>
                   <module>Ved_Citydropdown</module>
                   <frontName>citydropdown</frontName>
               </args>
           </ved_citydropdown>
        </routers>
        
		<!--
        <layout>
            <updates>
                <ved_citydropdown>
                    <file>ved_citydropdown.xml</file>
                </ved_citydropdown>
            </updates>
        </layout>
		-->
    </frontend>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <VED_Citydropdown before="Mage_Adminhtml">VED_Citydropdown_Adminhtml</VED_Citydropdown>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <ved_citydropdown_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ved_citydropdown/observer::methodName</model>
                </run>
            </ved_citydropdown_cron>
        </jobs> 
    </crontab>
    -->
</config>
