<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <TEKShop_PaymentOnline>
            <version>1.1.0</version>
        </TEKShop_PaymentOnline>
    </modules>
    <global>
        <models>
            <TEKShop_PaymentOnline>
                <class>TEKShop_PaymentOnline_Model</class>
                <resourceModel>TEKShop_PaymentOnline_Model_Resource</resourceModel>
            </TEKShop_PaymentOnline>
            <TEKShop_PaymentOnline_Model_Resource>
                <class>TEKShop_PaymentOnline_Model_Resource</class>
                <entities>
                    <bank>
                        <table>tekshop_payment_online_banks</table>
                    </bank>
                    <cart>
                        <table>tekshop_payment_online_cart</table>
                    </cart>
                    <log>
                        <table>tekshop_payment_online_log</table>
                    </log>
                    <transaction>
                        <table>tekshop_payment_order_transaction</table>
                    </transaction>
                    <utm>
                        <table>sales_order_utm_source</table>
                    </utm>
                </entities>
            </TEKShop_PaymentOnline_Model_Resource>
        </models>
        <resources>
            <TEKShop_PaymentOnline_setup>
                <setup>
                    <module>TEKShop_PaymentOnline</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </TEKShop_PaymentOnline_setup>
            <TEKShop_PaymentOnline_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </TEKShop_PaymentOnline_write>
            <TEKShop_PaymentOnline_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </TEKShop_PaymentOnline_read>
        </resources>
        <blocks>
            <tekshop_checkout>
                <class>TEKShop_PaymentOnline_Block_Checkout</class>
            </tekshop_checkout>
        </blocks>
        <helpers>
            <TEKShop_PaymentOnline>
                <class>TEKShop_PaymentOnline_Helper</class>
            </TEKShop_PaymentOnline>
        </helpers>
    </global>
    <frontend>
        <routers>
            <payment_online>
                <use>standard</use>
                <args>
                    <module>TEKShop_PaymentOnline</module>
                    <frontName>payment_online</frontName>
                </args>
            </payment_online>
        </routers>
    </frontend>
</config>
