<?xml version="1.0"?>
<config>
    <modules>
        <Ved_Customer>
            <version>1.0.0.0</version>
        </Ved_Customer>
    </modules>
    <global>
        <helpers>
            <ved_customer>
                <class>Ved_Customer_Helper</class>
            </ved_customer>
        </helpers>

        <blocks>
            <ved_customer>
                <class>Ved_Customer_Block</class>
            </ved_customer>
        </blocks>
        <models>
            <ved_customer>
                <class>Ved_Customer_Model</class>
                <resourceModel>ved_customer_resource</resourceModel>
            </ved_customer>
            <ved_customer_resource>
                <class>Ved_Customer_Model_Resource</class>
                <entities>
                    <smsmessage>
                        <table>customer_sms_message</table>
                    </smsmessage>
                </entities>
            </ved_customer_resource>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ved_Customer before="Mage_Adminhtml">Ved_Customer_Adminhtml</Ved_Customer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Ved_Customer>
                    <files>
                        <default>Ved_Customer.csv</default>
                    </files>
                </Ved_Customer>
            </modules>
        </translate>
        <layout>
            <updates>
                <ved_customer>
                    <file>ved_customer.xml</file>
                </ved_customer>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <!--<layout>-->
            <!--<updates>-->
                <!--<ved_customer>-->
                    <!--<file>customer.xml</file>-->
                <!--</ved_customer>-->
            <!--</updates>-->
        <!--</layout>-->
        <routers>
            <customer>
                <args>
                    <modules>
                        <Ved_Customer before="Mage_Customer">Ved_Customer</Ved_Customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
</config>
